#jinja2: trim_blocks:False
# {{ ansible_managed }}
data_dir         = "/opt/nomad/data"
datacenter       = "dc1"
bind_addr        = "0.0.0.0"

server {
  enabled          = true
  bootstrap_expect = {{ mybootstrapexpect }}

  server_join {
    retry_join = ["{{ myleaderaddress }}:4648"]
  }
}